@font-face {
    font-family: 'spiegelsansregular';
    src: url('src/spiegelsans-regular-webfont.woff2') format('woff2'),
         url('src/spiegelsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { 
    user-select: none;
}

body {
    background-color: #131200;
}

.startMessage {
    font-family: 'spiegelsansregular';
    font-size: 12pt;
    color: #ab810a;
}

.message {
    font-family: 'spiegelsansregular';
    font-size: 12pt;
    color: #ab810a;;
}

.time {
    color: #ECF2F0;
}

.nick {
    color: #32B1E8;
}

.messageContent {
    color: #ECF2F0;
}
.narrationMessage {
    color: #32B1E8;
}

#messages {
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-image: url(https://i.ibb.co/3SDR9w6/chat-Background.png);
    width: 517px;
    height: 463px;
    display: flex;
    flex-direction: column;
}

#createdMessages {
    position: absolute;
    margin-left: 5px;
    margin-bottom: 5px;
    bottom: 0;
}

#form {
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    flex-direction: column;
}

#form * {
    width: 500px;
    height: 35px;
    border-radius: 7px;
    outline: none;
    border: none;
    background-color: #7C6354;
    color: #FCDEBE;
    transition: background-color 0.1s ease-out;
    transition: box-shadow 0.3s ease-out;
    box-shadow: 0px 0px 15px #624F3F;
}

#form *:not(#createNewMessage){
    margin-bottom: 7px;
    padding-inline-start: 15px;
}

#form *::placeholder {
    color: #FCDEBE;
}

#form *:hover {
    background-color: #8C7362;  
    transition: background-color 0.1s ease-in;
    transition: box-shadow 0.3s ease-in;
    box-shadow: 0px 0px 25px #624F3F;
}